<div>
    <table>
        <thead>
            <tr>
                <th>Marca</th>
                <th>Categoria</th>
                <th>Talle</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rp of ropas.body" >
                <td> {{ rp.marca }} </td>
                <td> {{ rp.categoria }} </td>
                <td> {{ rp.talle }} </td>
                <td><a href="http://localhost:3000/api/ropasDetalles/{{rp._id}}">Ver</a></td>
            </tr>
        </tbody>
    </table>
</div>


